<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>



<!--using bootstrap text-center to center everything to look pretty-->
<div class="text-center">
  <h1>Welcome to <%= title %>, Your Daily Calorie Intake Tracker!</h1>
  <h6>Click the 'Meals' button to view meal entries</h6>
  <h6>Click the 'Login' button to make an account to start tracking your meal entries</h6>

  <img src="/CalTrackerLogo-modified.png" alt="Logo" style="width:260px">


  <br><br>
<!--Creates button for home page-->
  <a href="/meals" class="btn btn-info">
    <i class="fa-solid fa-drumstick-bite"></i> Meals
  </a>
  <a href="/login" class="btn btn-info">
    <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
  </a>



