<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>



  <h1>Welcome to <%= title %>, Your Daily Calorie Intake Tracker!</h1>

  <img src="/images/CalTrackerLogo.png" alt="Logo" style="width:500px">


<!--Creates button for home page-->
  <a href="/meals" class="btn btn-primary">
    <i class="fa-solid fa-drumstick-bite"></i> Meals
  </a>





